/* Configuration globale des éléments */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: Poppins;
  margin: 0.5vh;
  color: white;
}
:root{
  --theme-color: rgb(37, 107, 238);
  --link-color: whitesmoke;
  --text-color: white;
  --input-text-color: rgba(0, 0, 0, 0.863);
  --background-color: rgb(30, 95, 238);  
}
/* Navbar et autres éléments de navigation */
#linkSection{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul{
  display: flex; /* flex pour laisser aligner les élements en ligne */
  list-style: none;
  position: relative;
}
header ul li a{
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
}
header ul li a:hover{
  font-weight: 700;
  color: rgb(47, 255, 168);
}
/* Pour la partie body */
body{
  background-color: var(--background-color);
}

/* Style au niveau du formulaire */
#title
{
     width: auto;
     height: fit-content;
     justify-content:center;
     align-items: center;
     text-align: center;
     border: none;
}
#title h1{
  color: var(--text-color);
}
.welcome
{
     text-align: center;
     color: var(--text-color);
     font-weight: bolder;
}
#intro
{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 15px;
  color: var(--text-color);
}
/* Pour le contenu du tableau */
#tableau{
  position: relative;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
#formulaire
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
}
fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40 px;
  margin-bottom: 40px;
}
.legend{
  font-weight: 700;
  font-size: 15px;
}
input{
  color: var(--input-text-color);
}
label{
  color:var(--input-text-color);
}
optgroup{
  color: var(--input-text-color);
}
option{
  color: var(--input-text-color);
}
option value{
  color: var(--input-text-color); 
}
/* Modification des bouttons Enregistrer et Reinitialiser */
.bin
{
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  position: relative;
  display: flexbox;
} 
.bin input{
  border: none;
  position: center;
  color: black;
  background-color: white;
}

/* Pour la partie footer de la page */
footer{
  position: relative;
  display: contents;
  align-items: center;
  justify-self: center;
  justify-content: center;
}
footer #copyright{
  font-weight: bolder;
  text-align: center;
  color: var(--text-color);
}