/* Configuration globale des éléments */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: Poppins;
  margin: 0.5vh;
  color: white;
}
:root{
    --theme-color: rgb(37, 107, 238);
    --on-hover-text: rgb(29, 226, 167);
    --link-color: whitesmoke;
    --text-color: white;
    --input-text-color: rgba(0, 0, 0, 0.863);
    --background-color: rgb(30, 95, 238);  
}
header div{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
header div ul{
    list-style: none;
    display: flex;
}
header div ul li a{
    font-size: 20px;
    text-decoration: none;
}
header div ul li a:hover{
    color: var(--on-hover-text);
    font-weight: 700;
}
header h1{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    letter-spacing: 10px;
}
body{
    background-color: var(--background-color);
}